
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f3f3f3;
    color: #222;
    line-height: 1.6;
    display: flex;
flex-direction: column;
align-items: center;
}



header {
    background: rgb(179, 73, 73);
    padding: 25px;
    text-align: center;
    color: white;
   font-size: 2;
   min-width: 100%;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}



nav {
    background: rgb(179, 73, 73);
    padding: 10px;
    min-width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


nav a:hover {
    color: white;
    background-color: rgb(211, 138, 138);
    transform: scale(1.05);
}

section {
    padding: 20px 40px;
    max-width: 900px;
    margin: auto;
}

section:hover {
   color:rgb(179, 73, 73)
}

section h2 {
    text-align: center;
    font-size: 1.4;
    margin-bottom: 10px;   
}


.posts-container {
    display: flex;
    gap: 25px;
    padding: 20px;
    justify-content: center;
    flex-wrap: nowrap; 
}



.post {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #a9a1a1;
    color: black;

}

.post1 {
    background: white;
    width: 300px;
   
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #a9a1a1;

}


.post:hover {
    color:rgb(179, 73, 73);
}

.post h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: rgb(179, 73, 73);
    text-align: center;
}


footer {
    background-color:rgb(179, 73, 73) ;
    margin-top: 20px;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 1;
    min-width: 100%;
}

